body,
html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', SimSun, "Microsoft Yahei", arial, sans-serif, 'Droid Sans Fallback';
  background: #fff;
  font-size: 16px;
  font-weight: normal;
  color: #333;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
div {
  box-sizing: border-box;
}
html {
  font-family: songti;
  font-size: 16px;
  color: #555;
}
div,
p {
  color: #ffc0cb;
}
.content {
  background-color: #5342af;
}
